@charset "UTF-8";
/* CSS Document */

.purple p{
	text-indent: 20px;
}

#uploads{
	display: inline-block;
	float: left;	
}

.text {
	vertical-align: text-top;
	margin-bottom: 15px;
}
#nuts{
	margin-top: 15px;
}

.button {
	position: absolute;
	left: 50%;
}

.purple a{
	color: #0C1989 !important;
}

/* index standard style minus link color */

body {
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	background: #34B6DA;
	/* For browsers that do not support gradients */
	
	background: -webkit-linear-gradient(bottom, #fff, #34B6DA);
	/* For Safari 5.1 to 6.0 */
	
	background: -o-linear-gradient(bottom, #fff, #34B6DA);
	/* For Opera 11.1 to 12.0 */
	
	background: -moz-linear-gradient(bottom, #fff, #34B6DA);
	/* For Firefox 3.6 to 15 */
	
	background: linear-gradient(to bottom, #fff, #34B6DA);
	/* Standard syntax */
	
	height: 100%;
	width: 100%;
	padding: 3px;
	min-height: 1000px;
}

#banner img {
	text-align: center;
	width: 100%;
	height: auto;
}

li {
	display: inline;
}

#navbar {
	text-align: center;
}

#img-row {
	display: table-row;
	width: 100%;
	height: calc(100% / 3);
	position: relative;
}

.pix {
	width: calc(100% / 3);
	height: calc(100% / 3);
	position: absolute;
	overflow: hidden;
}

#col1 {
	border-radius: 5px 30px 5px 30px;
}

#col1 img {
	width: calc(100% - 6px);
	height: 100%;
	border-radius: 5px 30px 5px 30px;
}

#col2 {
	/*width of img is wider than div*/
	left: calc(100% / 3);
	margin-right: 3px;
	margin-left: 3px;
	border-radius: 30px 30px 30px 30px;
}

#col2 img {
	width: calc(100% - 6px);
	height: 100%;
	border-radius: 30px 30px 30px 30px;
}

#col3 {
	position:absolute;
	left: calc(100% - 33.1%);
	border-radius: 30px 5px 30px 5px;
}

#col3 img {
	/*not sure why the width is messed up now*/
	width: calc(100% - 6px);
	height: 100%;
	border-radius: 30px 5px 30px 5px;
}

#overlay1 {
	position: absolute;
	top: 100%;
	width: calc(100% - 6px);
	height: 100%;
	background-color: white;
	opacity: 0;
	border-radius: 5px 30px 5px 30px;
}

#overlay2 {
	/*added margin to center column*/
	position: absolute;
	top: 100%;
	width: calc(100% - 6px);
	height: 100%;
	background-color: white;
	opacity: 0;
	border-radius: 5px 30px 5px 30px;
	margin-right: 3px;

}

#overlay3 {
	position: absolute;
	top: 100%;
	width: calc(100% - 6px);
	height: 100%;
	background-color: white;
	opacity: 0;
	border-radius: 30px 5px 30px 5px;
}

.overlay p {
	padding: 2%;
	text-align: center;
}

@media only screen and (max-width: 500px) {
\
	#content {
		height: 100%;
		width: 100%;
		padding: 1px;
		min-height: 400px;
}

	#img-row {
		width: 100%;
		height: calc(100% / 3);
		position: relative;
}

	.pix {
		width: 100%;
		height: calc(100% / 3);
		position: absolute;
		overflow: hidden;
}
	#col1 img {
		width: calc(100% - 4px);
		height: 100%;
		border-radius: 5px 30px 5px 30px;
}

	#col2 {
		margin-right: 3px;
		margin-left: 3px;
		border-radius: 30px 30px 30px 30px;
}

	#col2 img {
		width: calc(100% - 4px);
		height: 100%;
		border-radius: 30px 30px 30px 30px;
}

	#col3 {
		border-radius: 30px 5px 30px 5px;
}

	#col3 img {
		width: calc(100% - 4px);
		height: 100%;
		border-radius: 30px 5px 30px 5px;
}

	#overlay1 {
		position: absolute;
		top: 100%;
		width: calc(100% -4px);
		height: 100%;
		background-color: white;
		opacity: 0;
		border-radius: 5px 30px 5px 30px;
}

	#overlay2 {
		position: absolute;
		top: 100%;
		width: calc(100% -4px);
		height: 100%;
		background-color: white;
		opacity: 0;
		border-radius: 5px 30px 5px 30px;
		margin-right: 3px;

}

	#overlay3 {
		position: absolute;
		top: 100%;
		width: calc(100% - 4px);
		height: 100%;
		background-color: white;
		opacity: 0;
		border-radius: 30px 5px 30px 5px;
}
