@charset "UTF-8";
/* CSS Document */

body{
	margin: 3px;
	font-family: "Convergence";
}

#banner{
	text-align: center;
	font-weight: 600;
	font-size: large;
	background-color: #449EFB;
}

#banner a:link a:visited a:hover{
	color: 000;
	text-decoration:none;
}
li{
	display: inline;	
}


#navbar{
	text-align: center;	
}

#col1{
	width: 50px;
	height: 50px;	
}
#col1 img{
	width: 32.5%;
	height: 32.5%;	
}

#col2 img{
	width: 32.5%;
	height: 32.5%;
}
#col3 img{
	width: 32.5%;
	height: 32.5%;
}

.pix{
	display: inline;
}